<connectionStrings>

  <!-- the DefaultConnection string is used by securitu
       Alter the Data Source and Initial Catalog values to point to your database.-->
  <add name="DefaultConnection" 
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true" 
       providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
