<connectionStrings>
  <add name="ChinookDB"
        connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true;"
        providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApp-20200909081522.mdf;Initial Catalog=aspnet-WebApp-20200909081522;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
</connectionStrings>
